body{
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

p{
    margin: 0;
    padding: 0;
}

button:focus{
    outline: none;
}

.game{
    display: flex;
}

.game-info{
    margin-left: 20px;
}

.play-history{
    align-items: center;
}

$bird_red: url(./images/bird_red.png);

.game-board{
    cursor: $bird_red, auto;
}

.border-row{
    display: flex;

    :after{
        clear: both;
        content: '';
        display: table;
    }
}

.square{
    background-color: #FFFFFF;
    border: 2px solid #004D20;
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    width: 70px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    :hover{
        background-color: #004D20;
    }
}

.round{
    color: #FF8080;
}

.cross{
    color: #8080FF;
}