* {
  box-sizing: border-box;
}
$info-circle: 400px;
$game-circle: 450px;
$game-inner-circle: 305px;
$game-inner-padding: calc((#{$game-circle} - #{$game-inner-circle}) / 2);
.game {
  background-color: #f3ecc2;
  display: flex;
  height: 650px;
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  position: relative;
  .game-board {
    background-color: #ffffff;
    border-radius: 50%;
    height: $game-circle;
    padding: calc(#{$game-inner-padding} - (32px + 32px)) $game-inner-padding
      $game-inner-padding;
    position: absolute;
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    width: $game-circle;
    z-index: 2;
    .status {
      font-size: 32px;
      line-height: 1;
      text-align: center;
    }
    .game-board-inner {
      height: $game-inner-circle;
      margin-top: 32px;
      width: $game-inner-circle;
    }
    .board-row {
      display: flex;
      height: 100px;
      margin: 0;
      width: 305px;
      .square {
        background-color: #14b1ab;
        border: 1px solid #14b1ab;
        border-radius: 50%;
        font-size: 40px;
        height: 100%;
        width: calc(100% / 3);
        outline: none;

        text-shadow: 1px 1px #ffffff, -1px 1px #ffffff, 1px -1px #ffffff,
          -1px -1px #ffffff, 1px 0px #ffffff, 0px 1px #ffffff, -1px 0px #ffffff,
          0px -1px #ffffff;
      }
      .square.x {
        color: #f9d56e;
      }
      .square.o {
        color: #e8505b;
      }
      .square.click {
        animation-name: sizeScale;
        animation-duration: 2s;
      }
      .square:hover {
        opacity: 0.5;
      }
      .square + .square {
        margin-left: 2px;
      }
    }
    .board-row + .board-row {
      margin-top: 1px;
    }
  }
  .game-info {
    background-color: #14b1ab;
    border-radius: 50%;
    box-sizing: border-box;
    height: $info-circle;
    padding: calc((#{$info-circle} - ((24px + 10px) * 10)) / 2);
    text-align: center;
    width: $info-circle;
    .status {
      font-size: 30px;
    }
    .history-list {
      list-style: none;
      margin: 0;
      padding: 0;
      .history-btn {
        appearance: none;
        background: #f9d56e;
        border: none;
        border-radius: 20px;
        padding: 0;
        outline: none;
        width: 132px;
        height: 24px;
      }
      li + li {
        margin-top: 10px;
      }
    }
  }
}
.game::after {
    border: 2px double #f9d56e;
    border-radius:50%;
    border-width: 20px;
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    z-index:1;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

@keyframes sizeScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
